body {
    color: white;
    background-color: gray;
}

main {
    display: grid;
    grid-template-columns: 280px 1fr;

    min-height: 100vh;
}

.banner {
    background-color: gray;
    border-bottom: 1px solid white;
    padding: 1em;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 70%;

    margin: 1em;
    padding: 2em;
    border: 1px solid white;
    border-radius: 1em;
}

canvas {
    margin: 1em;

    background-color: white;
}

button, select {
    padding: 0.5em;
}

#path-length-box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}